<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .content {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #191A1D;
      margin: auto;
      width: 600px;
      height: 723px;
      left: 212px;
      top: 60px;
      background: #FFFFFF;
      border-radius: 20px;
      word-break: break-all;
    }
  </style>
  <title></title>
</head>
<body>
<div class="content">
  <table style="width: 100%; padding: 45px 35px; box-sizing: border-box">

    <tr>
      <td style="text-align: center;">
        <p style="margin: 17px 0 0;">
          Click the link below to restore your password
        </p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">
        <a href="{{activationUrl}}">
          <button>RESTORE</button>
        </a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>




